<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JTStudio: <%= user.username %></title>
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Welcome, <%= user.username %>!</h1>
    <a href="/game-ideas/new">Add Game Idea</a>
    <h2>Current Game Ideas from the Team!</h2>

    <ul>
        <% gameDocs.forEach(idea => { %>
         <li>
            <a href="/game-ideas/<%= idea._id %>">
                <%= idea.title %> - <%= idea.creator.username %>
            </a>
         </li>
        <% }) %>
    </ul>

</body>
</html>